<h2 class="page-header">Welcome to Your Cart!</h2>

Product Name:
<br>
<br>

Product Image:
<br>
<br>

Product Price:
<br><br>

<form action="/checkout">
    <input type="submit" value="Buy Now">
    Quantity: <input type="number" name="quantity" min="1" max="5" step="1" value="1">
</form>

<br>
<p onclick="blick">Remove Item</p>




