<h2 class="page-header">Welcome to Your Cart!</h2>

<h4>Product Name</h4>
<br>

<h4>Image will go here</h4>
<br>

<p class="cost" id="totalCost">Total Cost: $300</p>
<form action="/checkout" class="Cart">
    <p class="quantity">Quantity: <input type="number" name="quantity" min="1" max="5" step="1" value="1" class="quantity"></p>
    <input type="submit" value="Checkout" class="checkoutButton">
</form>

<br>
<br>
<form action="/" class="removeItems">
    <input type="submit" value="Remove Item" onclick="delete" class="removeItemButton">
</form>




