<h2 class="page-header">Welcome to Your Cart!</h2>
<br>

<h2 id="NoItems"> You have added no items to your cart!</h2>

<form action="/" id="nothingHere">
    <input type="submit" value="Shop More" id="shop">
</form>