<h2 class="page-header">Cart</h2>

<h3>User Information</h3>

User Information will go here!

<h3>Items In Cart</h3>

Items in Cart

<h3>Payment Type</h3>

<form>
    <input type="radio" name="payment" value="cash"> Cash on Delivery <br>
</form>

<br>
<button type="button">Buy Now</button>