<h2 class="page-header">Checkout</h2>
{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{message}}</div>
  {{/each}}
{{/if}}

<form action=" /thankyou/{{productId}}">
    Name: 
    <br><input type="text" name="firstName" placeholder="Enter First and Last Name" required="true"> <br>
    <br>

    Email: 
    <br><input type="email" name="email" required="true"> <br>
    <br>
    
   Address:
    <br><input type="text" name="address1" required="true"> <br>
    <br>
    
    City: 
    <br><input type="text" name="city" required="true"> <br>
    <br>
    
    State: 
    <br><input type="text" name="state" placeholder="Enter State Initials" required="true">
    <br>
    <br>
    Zipcode: 
    <br><input type="number" name="zip" required="true"> <br>
    <br>
    
    Payment Type:
    <input type="radio" name="payment" value="cash" checked="checked" required="true"> Cash on 
    Delivery <br>
    <br>
    <input type="submit" value="Complete Order">
</form>