<h2 class="page-header">Checkout</h2>

<h3>Checkout</h3>

<form action=" /action_page.php">
    Name: 
    <br><input type="text" name="firstName" placeholder="Enter First and Last Name"> <br>
    <br>

    Email: 
    <br><input type="email" name="email"> <br>
    <br>
    
   Address:
    <br><input type="text" name="address1"> <br>
    <br>
    
    City: 
    <br><input type="text" name="city"> <br>
    <br>
    
    State: 
    <br><input type="text" name="state" placeholder="Enter State Initials">
    <br>
    <br>
    Zipcode: 
    <br><input type="number" name="zip" > <br>
    <br>
    
    Payment Type:
    <input type="radio" name="payment" value="cash" checked="checked"> Cash on 
    Delivery <br>
    <br>
    <input type="submit" value="Checkout">
</form>