<h2 class="page-header">Thank You!</h2>
<br>
<h3>Thank you from buying from E-Commerce. You Order of [Quantity][Product Name] has been processed and will be delivered to [Address] in 7 days!</h3>

<form action="/">
    <input type="submit" value="Shop More">
</form>
