<h2 class="page-header">Thank You!</h2>
<br>
<h3>Thank you for buying from E-Commerce. You Order of [Quantity][Product Name] has been processed and will be delivered in 7 days!</h3>

<br>

<form action="/" class="shopMore">
    <input type="submit" value="Shop More" class="shopMoreButton">
</form>
